@charset "utf-8";

.post-title {
  text-align: center;
}

.toc {
    font-size: 22px;
    line-height: 35px;
}

.post-content {
  // scrollable for mobile devices
  overflow-x: scroll;
}

.post-content p {
  line-height: 35px;
  color: #111111;
  font-weight: 400;
  font-family: "trebuchet";
  font-size: 22px;
}

.post-content a {
    color: #50C878;
    font-weight: 600;
}

.post-content a:hover {
    text-decoration: underline;
}
.post-content img {
  display: block;
  margin: 10px auto;
}

.post-info {
  line-height: 24px;
  margin: 10px 0;
}

.post-category,
.post-tag {
  margin: 0 5px;
}
