@charset "utf-8";

.post-title {
  text-align: center;
}

.post-content {
  // scrollable for mobile devices
  overflow-x: scroll;
}

.post-content p {
  line-height: 20px;
  color: black;
  font-weight: 500;
  font-family: "Helvetica Now";
  font-size: 17px;
}

.post-content a {
    color: #50C878;
    font-weight: 600;
}

.post-content a:hover {
    text-decoration: underline;
}
.post-content img {
  display: block;
  margin: 10px auto;
}

.post-info {
  line-height: 24px;
  margin: 10px 0;
}

.post-category,
.post-tag {
  margin: 0 5px;
}
